@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-background {
    background-size: 150% !important;

    -webkit-animation: animation 12s ease infinite;
    -moz-animation: animation 12s ease infinite;
    animation: animation 12s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}