---
import Layout from "../layouts/Layout.astro"
---
<Layout title="404" icon="../favicon.svg">
    <div class="h-svh flex justify-center items-center flex-col -mb-8">
        <h1 class="animated-background text-[20rem] font-bold leading-none bg-gradient-to-r from-[#b20059] to-[#3838fc] text-transparent bg-clip-text">404</h1>
        <p class="text-[#1e1e1e] -mt-6 mb-12 text-xl">page not found</p>
        <a href="/" class="btn rounded-full text-white lg:text-lg hover:drop-shadow-lg transition-all bg-[#1e1e1e] font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>
            back to home
        </a>
    </div>
</Layout>