---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import People from '../components/people.astro'
import Unity from '../components/unity.astro'
import Trust from '../components/trust.astro'
import Ownership from '../components/ownership.astro'
import Creativity from '../components/creativity.astro'
---
<Layout title="About">
    <Hero fromColor="#00b000" toColor="#94c7c3" heroText="live and work"/>

    <hr class="mb-4 lg:mb-8 mx-12" />

    <div class="flex flex-col justify-center w-screen items-center">
        <div class="flex flex-col w-screen xl:w-[80vw]">
            <div class="mx-12 mb-8 xl:mb-0 text-[#1e1e1e] flex flex-col lg:flex-row gap-4 lg:gap-8 justify-center">
                <div class="lg:w-1/2">
                    <h2 class="text-[#1e1e1e] text-2xl lg:text-4xl font-bold text-pretty mb-4">about us</h2>
                    <p class="lg:text-xl mb-4">Orkney Islands Council may be the smallest local authority in Scotland, but our ambition is second to none and where there is challenge, we look for opportunity.</p>
                    <p class="lg:text-xl mb-4">We provide many of Orkney’s essential services as well as having some big ideas that need delivering to make a difference to our communities.</p>
                    <p class="lg:text-xl mb-8 lg:mb-12">You can learn more about our goals for Orkney’s future in our <a target="_blank" href="https://www.orkney.gov.uk/your-council/our-plans/council-plan/" class="font-medium text-[#3838fc] hover:animate-pulse">Council Plan</a>.</p>

                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">our services</h2>
                    <p class="lg:text-xl mb-4">We have hundreds of different job opportunities across our five key service areas:</p>
                    <li class="lg:text-xl">Education, Leisure and Housing</li>
                    <li class="lg:text-xl">Strategy, Performance and Business Solutions </li>
                    <li class="lg:text-xl">Orkney Health and Care </li>
                    <li class="lg:text-xl">Enterprise and Sustainable Regeneration</li>
                    <li class="lg:text-xl lg:mb-2">Neighbourhood Services and Infrastructure</li>
                </div>

                <div class="hidden lg:flex w-[1px] bg-gray-200 rounded-full"/>

                <div class="lg:w-1/2">
                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">our values</h2>
                    <p class="lg:text-xl mb-8">Our values provide us with a blueprint for interacting with each other, our partners and our communities. Everyone here at Orkney Islands Council has a role to play in ensuring Our Values are part of everything we do.</p>

                    <div class="flex flex-col gap-6">
                        <div class="flex flex-row gap-4 items-center">
                            <People />
                            <p class="col-span-4 lg:text-xl"><span class="text-[#660033] font-medium">People</span>: We put our colleagues and our communities at the heart of everything we do</p>
                        </div>
                        <div class="flex flex-row gap-4 items-center">
                            <Unity />
                            <p class="col-span-4 lg:text-xl"><span class="text-[#9D3900] font-medium">Unity</span>: We are one Council and achieve more when we support, encourage, and value each other</p>
                        </div>
                        <div class="flex flex-row gap-4 items-center">
                            <Trust />
                            <p class="col-span-4 lg:text-xl"><span class="text-[#006400] font-medium">Trust</span>: We trust, respect, and empower each other and act with honesty and integrity</p>
                        </div>
                        <div class="flex flex-row gap-4 items-center">
                            <Ownership />
                            <p class="col-span-4 lg:text-xl"><span class="text-[#191970] font-medium">Ownership</span>: We take personal and shared responsibility, are transparent, and are accountable for our actions and our impact</p>
                        </div>
                        <div class="flex flex-row gap-4 items-center">
                            <Creativity />
                            <p class="col-span-4 lg:text-xl"><span class="text-[#295652] font-medium">Creativity</span>: We embrace innovative solutions with a drive to improve ways of working</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-8 lg:my-8 mx-12" />

    <div class="flex flex-col justify-center w-screen items-center">
        <div class="flex flex-col w-screen xl:w-[80vw]">
            <div class="mx-12 mb-8 xl:mb-0 text-[#1e1e1e] flex flex-col lg:flex-row gap-4 lg:gap-8 justify-center">
                <div class="lg:w-1/2">
                    <h2 class="text-[#1e1e1e] text-2xl lg:text-4xl font-bold text-pretty mb-4">about Orkney</h2>
                    <p class="lg:text-xl mb-4">copy</p>
                </div>

                <div class="hidden lg:flex w-[1px] bg-gray-200 rounded-full"/>

                <div class="lg:w-1/2">
                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">h3</h2>
                    <p class="lg:text-xl mb-8">copy</p>
                </div>
            </div>
        </div>
    </div>
</Layout>
