---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import RecentPosts from '../components/RecentPosts.svelte';
---

<Layout title="join our team - Orkney Islands Council">
	<main>
		<Hero fromColor="#d1669b" toColor="#3838fc" heroText="join our team"/>
		
		<hr class="mb-8 mx-12" />	

		<div class="flex justify-center mx-8">
			<div class="xl:w-[80vw]">
				<div class="flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-1 gap-6 justify-center">
					<div class="col-span-1 bg-center lg:bg-left bg-[url('../images/austin-schmid-PFy-3PaHT_M-unsplash.webp')] h-[20vh] xl:h-[43vh] lg:h-auto bg-cover rounded-xl"/>
					<div class="col-span-1 flex flex-col text-[#1e1e1e] justify-center">
						<h2 class="text-[#1e1e1e] text-2xl lg:text-4xl font-bold text-pretty mb-4">we might be the smallest local authority in Scotland, but our dedication to our islands is unmatched</h2>
						<div class="flex flex-col text-[#1e1e1e]">
							<p class="lg:text-xl mb-4">Orkney Islands Council may serve one of the smallest populations in Scotland, but our commitment to our islands is as vast as the landscapes that surround us.</p>
							<p class="lg:text-xl mb-4">We pride ourselves on providing exceptional services tailored to the needs of our communities, ensuring that life on our islands is enriched, sustainable, and resilient.</p>
							<!-- <p class="lg:text-xl mb-4">Join us, and you'll be part of a team that values quality over quantity and community over conformity.</p> -->
						</div>
						<!-- <div class="w-full flex flex-row justify-center mt-6 lg:mt-0">
							<a href="/about" class="btn text-lg lg:btn-md lg:text-xl font-normal w-fit rounded-full flex flex-row content-center text-[#1e1e1e] bg-gray-200 hover:bg-gray-300 border-none">
								<p class="mb-1">learn more</p>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
									<path fill-rule="evenodd" d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z" clip-rule="evenodd" />
								</svg>
							</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>

		<hr class="my-8 mx-12" />

		<RecentPosts client:load/>
		
	</main>
</Layout>