---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---
<Layout title="tools for success" icon="../favicon-resources.svg">
    <Hero fromColor="#E95500" toColor="#FFC300" heroText="tools for success"/>

    <hr class="mb-4 lg:mb-8 mx-12" />

    <div class="flex flex-col justify-center w-screen items-center">
        <div class="flex flex-col w-screen xl:w-[80vw]">
            <div class="mx-8 mb-8 lg:mb-0 text-[#1e1e1e] flex flex-col lg:flex-row gap-4 lg:gap-8 justify-center">
                <div class="lg:w-1/2">
                    <h2 class="text-[#1e1e1e] text-2xl lg:text-4xl font-bold text-pretty mb-4">how to apply</h2>
                    <p class="lg:text-xl mb-4">Once you have found your ideal job you will need to put some thought into your application form. It's important you take your time completing the form so that we can see how your skills and experience match the job profile.</p>
                    <p class="lg:text-xl mb-4">If you’re disabled, we can make reasonable adjustments to our recruitment processes according to your needs.  Please get in touch with <a target="_blank" href="mailto:hrsupport@orkney.gov.uk" class="font-medium text-[#3838fc] hover:animate-pulse">hrsupport@orkney.gov.uk</a> to discuss this further.  We are committed to reducing barriers disabled candidates face when applying for jobs.</p>
                    <p class="lg:text-xl mb-4">Each job advertised will have a job profile which describes the duties linked to the role and the qualifications, skills and experience necessary to do these duties. When completing your application form it is also important to refer back to this job profile as this will be used to decide if you have the necessary skills and attributes to be invited forward for an interview.</p>
                    <p class="lg:text-xl mb-8">You will need to have an account with myjobscotland and complete an online application form. As part of the online application form you need to go through the following sections:</p>

                    <div class="flex flex-col gap-2 mb-8 lg:mb-12"> 
                        <div class="collapse collapse-arrow bg-gray-100">
                            <input type="radio" name="my-accordion-3" checked="checked" />
                            <div class="collapse-title text-xl lg:text-3xl font-medium">personal information</div>
                            <div class="collapse-content">
                            <p class="lg:text-xl mb-4">Contact details, home address and most recent job title and employer.</p>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow bg-gray-100">
                            <input type="radio" name="my-accordion-3" />
                            <div class="collapse-title text-xl lg:text-3xl font-medium">professional information</div>
                            <div class="collapse-content">
                            <p class="lg:text-xl mb-4">Qualifications, work history, professional memberships, relevant courses and referee contact details.</p>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow bg-gray-100">
                            <input type="radio" name="my-accordion-3" />
                            <div class="collapse-title text-xl lg:text-3xl font-medium">additional information</div>
                            <div class="collapse-content">
                            <p class="lg:text-xl mb-4">Questions relating to your skills, experience, work achievements and personal qualities.</p>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow bg-gray-100">
                            <input type="radio" name="my-accordion-3" />
                            <div class="collapse-title text-xl lg:text-3xl font-medium">equal opportunity questionnaire</div>
                            <div class="collapse-content">
                            <p class="lg:text-xl mb-4">This is to capture information about you so that we can ensure fair practice and treatment. This information is confidential and is not available to the people who will look at your application form.</p>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow bg-gray-100">
                            <input type="radio" name="my-accordion-3" />
                            <div class="collapse-title text-xl lg:text-3xl font-medium">data privacy statement</div>
                            <div class="collapse-content">
                            <p class="lg:text-xl mb-4">Details of how your personal information is stored or shared and requires your consent.</p>
                            </div>
                        </div>
                        <div class="collapse collapse-arrow bg-gray-100">
                            <input type="radio" name="my-accordion-3" />
                            <div class="collapse-title text-xl lg:text-3xl font-medium">disability information</div>
                            <div class="collapse-content">
                            <p class="lg:text-xl mb-4">We also ask if you consider yourself to have a disability. You should select this box if it applies to you. However, even if you don’t select this box, you can still share this information at a later stage if you wish.</p>
                            </div>
                        </div>
                    </div>

                    <hr class="my-8" />

                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">job alerts</h2>
                    <p class="lg:text-xl -mb-1">Want to stay up to date with our latest vacancies? Check out our <a target="_blank" href="https://scribehow.com/shared/How_to_create_job_alerts_on_myjobscotland___R9R-8o7QRS_7jYhaK88WA" class="font-medium text-[#3838fc] hover:animate-pulse">sixty second guide</a> on creating job alerts!</aguide></p>    
        
                </div>

                <hr class="lg:hidden my-4" />

                <div class="hidden lg:flex w-[1px] bg-gray-200 rounded-full"/>

                <div class="lg:w-1/2">
                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">your application</h2>
                    <p class="lg:text-xl mb-4"><span class="font-medium">Qualifications:</span> In this section you should detail your further education and qualifications related to the role you are applying for (in order from the most recent to the least recent). If you are applying for an entry level role or you have not got further education qualifications, secondary school qualifications should be included.</p>    
                    <p class="lg:text-xl mb-4"><span class="font-medium">Employment history:</span> This section is for you to list your current employment and at least 3 years previous employment, you are asked to include a brief description of responsibilities, experience and knowledge gained. This is a free text box and is your chance to note down your experience based on your previous jobs and what duties you had to do.</p>    
                    <p class="lg:text-xl mb-8 lg:mb-12">It is important to look at the job description to make sure you write down how you meet the criteria for this role through your previous experience. These sections are an opportunity for you to sell yourself, as this is the first point of contact with your potential new employer and is where you state why you are the best person for the job.</p>    
                
                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">once you’ve applied</h2>
                    <p class="lg:text-xl mb-4">Once you have submitted your application you will receive an email confirming that your application form has been received by us. The next email will let you know whether you have been successful and invited to the next stage e.g. interview, or if you have been unsuccessful.</p>    
                    <p class="lg:text-xl mb-4">If you are disabled and meet the essential criteria for the job you are applying for, you will automatically be selected for interview. You will usually be offered a choice of interview times and should book a time that works best for you. You will receive an email confirming all the interview details. This email will include the contact details for you to request any adjustments you might need for your interview.</p>    
                    <p class="lg:text-xl mb-4">We are proud that our people policies are Armed Forces-friendly and that we offer a guaranteed interview to those with Armed Forces experience who meet the essential criteria of the job they are applying for.</p>    
                    <p class="lg:text-xl mb-0 lg:mb-12">You can log onto your myjobscotland account to check the status of your application/s (e.g. submitted, invited to interview) and if you apply for another job, the details you have already typed in will be saved in your next application form, so you do not need to re-do it. However, it is worth reviewing this information to make sure it is still relevant and is suitable for each job you apply for.</p>    
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-8 lg:my-8 mx-12" />

    <div class="flex flex-col justify-center w-screen items-center">
        <div class="flex flex-col w-screen xl:w-[80vw]">
            <div class="mx-8 mb-8 lg:mb-0 text-[#1e1e1e] flex flex-col lg:flex-row gap-4 lg:gap-8 justify-center">
                <div class="lg:w-1/2">
                    <a target="_blank" href="../files/How to Develop Effective Interview Skills.pdf" class="group text-[#1e1e1e] text-2xl lg:text-4xl font-bold text-pretty mb-4 flex flex-row gap-2 hover:animate-pulse">interview prep<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 mt-[0.4rem] lg:mt-[0.75rem] group-hover:animate-pulse transition-all">
                        <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z" clip-rule="evenodd" />
                      </svg>
                    </a>

                    <p class="lg:text-xl mb-8">Whether you’ve had one interview or many, it’s common to get a little nervous. The key to success at interview is preparation and here are some suggested items you may want to focus on:</p>

                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">1. research</h2>
                    <p class="lg:text-xl mb-4"><span class="font-medium">Get to know us:</span> Learn about our mission, values, culture, and recent news.</p>    
                    <p class="lg:text-xl mb-8 lg:mb-12"><span class="font-medium">Get to know the role:</span> Review the job description thoroughly. Understand the skills and experiences required.</p>    
                    
                </div>

                <div class="hidden lg:flex w-[1px] bg-gray-200 rounded-full"/>

                <div class="lg:w-1/2">
                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">2. prepare your answers</h2>
                    <p class="lg:text-xl mb-8 lg:mb-12">Use the STAR method (Situation, Task, Action, Result) to structure your answers to behavioural questions.</p>    

                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">3. prepare questions for the interviewer</h2>
                    <p class="lg:text-xl mb-8 lg:mb-12"><span class="font-medium">Show your interest:</span> For example, you could ask questions about the role, team or company culture.</p>    
                        
                    <h3 class="text-[#1e1e1e] text-xl lg:text-3xl font-medium text-pretty mb-4">4. practice, practice, practice</h2>
                    <p class="lg:text-xl mb-4"><span class="font-medium">Mock interviews:</span> Conduct mock interviews with a friend or use online tools to simulate the interview environment.</p>    
                    <p class="lg:text-xl mb-8 lg:mb-12"><span class="font-medium">Feedback:</span> Get feedback on your answers.</p>    
                </div>
            </div>
        </div>
    </div>

</Layout>