---
import Surprise from "./surprise.svelte";

const { fromColor, toColor, heroText, heroTagline } = Astro.props;
---
<div class="relative">
    <div class="navbar absolute px-6 md:px-16 pt-8 md:py-16 md:py-20 h-16" transition:persist>
        <div class="navbar-start">
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" aria-label="Navigation menu" class="m-2 transition-all hover:scale-[0.9]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white" class="size-5">
                        <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 10.5a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1-.75-.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd" />
                    </svg>
                </div>
                <ul tabindex="0" class="backdrop-blur-md dropdown-content menu bg-base-100 bg-opacity-30 md:bg-opacity-10 text-white font-light md:text-lg rounded-box z-[1] md:w-52 px-2 py-4 md:p-2 shadow">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/benefits">Benefits</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/#vacancies">Vacancies</a></li>
                    <li><a href="/recruitment-incentives">Incentives</a></li>
                </ul>
            </div>
        </div>
        <a class="navbar-center w-32 md:w-48 transition-all hover:drop-shadow-lg" href="https://orkney.gov.uk" aria-label="Link to the Orkney Islands Council website"><img class="object-scale-down" src="../oic_logo_landscape_white.webp" alt="Orkney Islands Council crest"/></a>
        <div class="navbar-end"></div>
    </div>

    <div class="absolute bottom-8 md:bottom-16 w-screen flex flex-row justify-center">
        <Surprise client:load/>
    </div>

    <div class="hero h-[100vw] md:h-[50svh] lg:min-h-[600px] mb-8 md:mb-0 md:p-8">
        <div class="hero-overlay md:rounded-xl animated-background" style={`background: linear-gradient(to right, ${fromColor}, ${toColor})`}/>
        <div class="hero-content flex flex-col gap-0">
            <h1 class="text-4xl mb-2 md:text-8xl xl:text-9xl text-center text-white drop-shadow-md" transition:animate="slide">{heroText}</h1>
            <p class="text-white font-light text-sm text-center md:text-3xl">big challenges, big opportunities</p>
        </div>
    </div>
</div>