---

---
<div class="navbar px-6 lg:px-16 pt-8 md:py-16 lg:py-20 h-16" transition:persist>
    <div class="navbar-start">
        <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" aria-label="Navigation menu" class="m-2 transition-all hover:scale-[0.9]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#1e1e1e" class="size-5">
                    <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 10.5a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1-.75-.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd" />
                </svg>
            </div>
            <ul tabindex="0" class="backdrop-blur-md dropdown-content menu bg-white bg-opacity-30 text-[#1e1e1e] font-normal lg:text-lg rounded-box z-[1] lg:w-52 px-2 py-4 lg:p-2 shadow">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/benefits">Benefits</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/#vacancies">Vacancies</a></li>
                <li><a href="/recruitment-incentives">Incentives</a></li>
            </ul>
        </div>
    </div>
    <a class="navbar-center w-32 md:w-48 transition-all hover:drop-shadow-lg" href="https://orkney.gov.uk" aria-label="Link to the Orkney Islands Council website"><img class="object-scale-down" src="../oic_logo_landscape_black.webp" alt="Orkney Islands Council crest"/></a>
    <div class="navbar-end"></div>
</div>