---
interface Props {
	title: string;
	icon: string;
	children: any;
  }
  
const { title, icon, children } = Astro.props;
  
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/footer.astro';
import '../styles/global.css';
import PostHog from '../components/posthog.astro';

// import PocketBase from 'pocketbase';

// const url = 'https://oic-careers.pockethost.io/'
// const client = new PocketBase(url)

// const records = await client.collection('posts').getFullList({
//     sort: '-created',
// });
---

<!doctype html>
<html lang="en" class="scroll-smooth scrollbar-none bg-[#1e1e1e]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={icon} />
		<meta name="generator" content={Astro.generator} />
		<PostHog />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-white">
		<slot />
	</body>
	<Footer />
</html>

<style is:global>
	@font-face {
		font-family: 'Orkney';
		src: url('/fonts/orkney.woff') format('woff');
	}
	h1 {
		font-family: 'Orkney', sans-serif !important;
	}
	.orkney {
		font-family: 'Orkney', sans-serif !important;
	}
</style>
